---
import PrimaryButton from './PrimaryButton.astro';
import SecondaryButton from './SecondaryButton.astro';
---
<div class="hero">
  <h1>Our application is <span class="marked">better than other ones</span></h1>
  <p>
    Our application is truly the best application out there. You need to check this as soon as possible.
    Following there are two buttons you can click to go through site. 
  </p>

  <div class="buttons">
    <PrimaryButton>
      Read more
    </PrimaryButton>
    <SecondaryButton>
      Live demo
    </SecondaryButton>
  </div>
</div>

<style>
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    min-height: 75vh;
  }
  h1 {
    font-size: 50px;
    max-width: 750px;
    text-align: center;
  }
  p {
    max-width: 750px;
    margin-top: 40px;
    font-size: 18px;
  }
  .buttons {
    width: 250px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
  }
  .marked {
    color: var(--primary);
  }
</style>