<a href="#" class="secondary-button">
  <slot />
</a>

<style>
.secondary-button {
  color: var(--text);
  border: var(--text) 1px solid;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
}
</style>
